In [ ]:
import numpy as np

num_class_per_week = [3,2,3,2,5,1]
class_hours = [1,1,2,3,3,1]
# num_class_per_week = num_class_per_week*2

classes = np.array([num_class_per_week,class_hours])
print(classes.shape)
avg_num_class_per_Week = classes[0].mean()
avg_class_hours = classes[1].mean()
print(f'avg number of class per week: {avg_num_class_per_Week}, avg hours of class:{avg_class_hours}')

### integrate with pandas

In [25]:
import pandas as pd

class_name = ["Class_A","Class_B","Class_C","Class_D","Class_E","Class_F"]

class_df = pd.DataFrame({
    'class_name': class_name, 
    'num_class_per_week': num_class_per_week,
    'class_hours': class_hours
})

class_df.loc[0] # first row of the dataframe. 
class_df.loc[0, "class_name"] # class_name column of first row of the dataframe. 

class_df[class_df['num_class_per_week'] > 2]
class_df.query('class_hours > 2')

  class_name  num_class_per_week  class_hours
3    Class_D                   2            3
4    Class_E                   5            3